.close-instruction-container {
  display: none;
}

.currentPlayer {
  box-shadow: 0px 0px 30px 10px var(--white);
}

.popup {
  display: flex;
  position: absolute;
  background: var(--grey);
  border: 5px double var(--green);
  box-shadow: 0px 0px 20px var(--green);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 1%;
  color: var(--white);
  border-radius: 10px;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  opacity: 0;
  display: none;
}

.active {
  opacity: 1;
  display: flex;
}

.inactive {
  opacity: 0;
  display: none;
}

.choice-icons-container .selected-icon {
  pointer-events: none;
  opacity: 1;
  display: block;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.header-icon {
  pointer-events: none;
}

.feedback-icon {
  -webkit-text-stroke: 2px var(--pink);
  text-shadow: 0px 0px 20px var(--pink);
}

.message-input-fieldBorder {
  border: 2px solid var(--blue);
  box-shadow: 0px 0px 10px var(--blue);
}

.flickerPlane {
  color: var(--pink);
  text-shadow: 5px 5px 30px var(--white);
}

.flickerPlane:active {
  color: var(--pink);
  text-shadow: none;
}
