.inactiveIcon {
    text-shadow: none;
    animation: none;
    background-color: unset;
    pointer-events: none;
    opacity: 0.8;
}

.iconPicked {
    text-shadow: 0px 0px 50px white;
    -webkit-text-stroke: 2px rgb(147, 74, 255);
    margin-bottom: 20px;
    animation: none;
}

.currentPlayer {
  box-shadow: 0px 0px 30px 10px white;
}

.popup {
    display: flex;
    position: absolute;
    background: rgb(48, 47, 47);
    border: 5px double rgb(4, 253, 16);
    box-shadow: 0px 0px 20px rgb(4, 253, 16);
    min-width: 20%;
    min-height: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 10%;
    padding: 1%;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    align-items: center;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .active {
    opacity: 1;
  }

  .inactive {
    opacity: 0;
    display: none;
  }

  .inactiveBackground {
    opacity: 0.45;
  }

  .xMark {
    position: absolute;
    right: -18px;
    top: -18px;
    background-color: transparent;
    border: 0px transparent;
    color: rgb(48, 47, 47);
    font-size: 32px;
    -webkit-text-stroke: 2px red;
    text-shadow: 0px 0px 10px red;
    margin: 0px;
  }

  .iconsContainer .biggerIcon {
    font-size: 90px;
    pointer-events: none;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  .disabledIcons {
    animation: none;
    background-color: unset;
    pointer-events: none;
    opacity: 0.8;
    pointer-events: none;
  }

  .removeEvent {
    pointer-events: none;
  }

  /* #yourScreen.disabled .uIcons {
    pointer-events: none;
    opacity: 0.5;
  }

  #opponentScreen.disabled .xIcons {
    pointer-events: none;
    opacity: 0.5;
  } */

  .highlightPlayerIcon {
    animation-name: bouncy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: none;
  }

  @keyframes bouncy {
    to {
      transform: scale(1.2);
    }
  }

  #spinner {
    -webkit-text-stroke: 2px rgb(253, 4, 154);
    text-shadow: 0px 0px 20px rgb(253, 4, 154); 
  }

  #checkMark {
    -webkit-text-stroke: 2px rgb(253, 4, 154);
    text-shadow: 0px 0px 20px rgb(253, 4, 154); 
  }