@media screen and (max-width: 480px) {
  .instruction-container {
    width: 95%;
  }

  .information-icon {
    display: none;
  }

  .title-container {
    padding: 10px;
    width: 100%;
  }

  .header-icon {
    display: none;
  }

  .player-screen-container {
    width: 100%;
  }

  .chat-screen-container {
    display: none;
  }
}
