@media screen and (max-width: 480px) {
  .instruction-container {
    width: 95%;
  }

  .information-icon {
    display: none;
  }

  .title-container {
    background-color: red;
    padding: 10px;
  }

  .header-icon {
    display: none;
  }
}
