@media screen and (max-width: 480px) {
  :root {
    /* Fonts */
    --header: 75px;
    --title: 65px;
    --body: 50px;
  }

  .instruction-container {
    width: 95%;
  }

  .information-icon {
    display: none;
  }

  .title-container {
    padding: 10px;
    width: 100%;
  }

  .header-icon {
    display: none;
  }

  .player-zone-container {
    width: 100%;
    flex-direction: column;
  }

  .player-screen-container {
    width: 100%;
  }

  .chat-screen-container {
    display: none;
  }

  #player-name-input-container {
    border: 8px double var(--blue);
    border-radius: 12px;
    margin: 0 auto;
    height: 55px;
    position: relative;
    animation-delay: 2s;
    width: 90%;
    padding-bottom: 5px;
  }

  .score-container {
    font-size: var(--body);
  }

  .player-choice-icon {
    font-size: 90px;
  }
}
