body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    box-sizing: border-box;
}

body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

@font-face {
    font-family: clubSign;
    src: url("NightVibesFreeVersion-8MglA.otf") format("opentype");   
}

.iconsContainer {
    text-align: center;
    color: rgb(48, 47, 47);
    margin-top: 3%;
}

.icons {
  color: rgb(48, 47, 47);
}

/* Blue borders for the titles and cards */
.bordersAnim {
  animation: shadowFade 10s infinite;
  animation-delay: 4s;
}

.bordersInanim {
  border: 8px double rgb(0, 255, 251);
  border-radius: 12px;
  padding-top: 1%;
  display: block;
}

/* Titles for the game, player names and wins */
.title h1 {
  color: rgb(253, 4, 154);
  font-size: 70px;
  font-family: clubSign;
  text-shadow: 0px 0px 30px rgb(253, 4, 154);
  text-align: center;
  margin: 0 auto;
  display: inline-flex;
}

#playZone h1 {
  font-family: clubSign;
}

/* Input field for player name */
#playerName {
  border: 8px double rgb(0, 255, 251);
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  height: 55px;
  position: relative;
  animation-delay: 2s;
  width: 90%;
  padding-bottom: 5px;
}

#nameEnter {
    width: 75%;
    height: 38px;
    float: left;
    background-color: transparent;
    outline: none;
    border: 0px transparent;
    font-size: 46px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: bolder;
    font-family: clubSign;
    color: white;
    margin-left: 5px;
}

#start {
    font-family: clubSign;
    font-size: 46px;
    width: 25%;
    color: rgb(4, 253, 16);
    font-weight: bolder;
    background-color: transparent;
    padding: 0px;
    border: 0px transparent;
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 5px;
}

#start:hover {
    text-shadow: 5px 5px 40px white;
}

#nameEnter::placeholder {
    color: white;
}

#nameEnter:hover::placeholder,
#nameEnter:focus::placeholder {
    opacity: 0;
}

/* Holds the cards with the player names */
#playZone {
    margin-top: 20px;
    justify-content: center;
}

.playerIcon {
  font-size: 50px;
}

#chatScreen {
  display: none;
}

#opponentScreen {
  margin-top: 2%;
  margin-bottom: 2%;
}

#titleBorder {
    padding: 1%;
    border: 8px double rgb(0, 255, 251);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 2%;
    animation: shadowFade 10s infinite;
    width: 100%;
}

.title {
    margin-right: 15px;
}

.title:last-child {
    margin-right: 0px;
}

.flickerLetter {
    animation-name: text-flicker-out-glow;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#tO {
    animation-delay: 10s;
}

#tS {
    animation-delay: 5s;
}

i {
    background-color: transparent;
}

.paper {
    -webkit-text-stroke: 2px rgb(255, 149, 0);
    text-shadow: 0px 0px 20px rgb(255, 149, 0);   
}

.paper:hover {
    text-shadow: 0px 0px 50px rgb(255, 149, 0);
}

.rock {
    -webkit-text-stroke: 2px rgb(229, 247, 31);
    text-shadow: 0px 0px 20px rgb(229, 247, 31);
}

.rock:hover {
    text-shadow: 0px 0px 50px rgb(229, 247, 31);
}

.scissor {
    -webkit-text-stroke: 2px rgb(4, 253, 16);
    text-shadow: 0px 0px 20px rgb(4, 253, 16);
    transform: rotate3d(1, 1, 0, 180deg); 
}

.scissor:hover {
    text-shadow: 0px 0px 50px rgb(4, 253, 16);
}

.names {
    font-size: 70px;
    color: white;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 10px;
}

.wins {
    font-size: 45px;
    margin-top: 20px;
    display: inline-flex;
    color: white;
    text-shadow: 0px 0px 30px white;
}

.losses {
    margin-top: 10px;
    margin-bottom: 5%;
    display: inline-flex;
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 30px white;
    animation-delay: 2s;
}

.playerChoice {
  font-size: 80px;
  margin-right: 15px;
}

.playerChoice:last-child {
  margin-right: 0px;
}

.flicker {
    animation-name: text-flick;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#uWinCount {
    margin-left: 3%;
}

#xWinCount {
  margin-left: 3%;
}

#uLossCount {
    margin-left: 3%;
}

#xLossCount {
  margin-left: 3%;
}

.bots {
    -webkit-text-stroke: 2px rgb(147, 74, 255);
    text-shadow: 0px 0px 20px rgb(147, 74, 255);
    margin-bottom: 20px;
    animation-name: bot-fade;
    animation-duration: 10s;
    animation-iteration-count: 4;    
}

.bots:hover {
  text-shadow: 0px 0px 50px white;
}

#robotM {
  animation-iteration-count: infinite; 
}

#robotU {
  margin-right: 17px;
  margin-left: 15px;
}

#robotX {
  margin-right: 10px;
  margin-left: 5px
}

#uBorder {
  width: 90%;
}

#xBorder {
  width: 90%;
}

#robotM:hover {
  text-shadow: 0px 0px 20px rgb(147, 74, 255);
}

.playerScreen {
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

@keyframes shadowFade {
    50% {box-shadow: 0px 0px 30px rgb(0, 255, 251);}
}

@keyframes bot-fade {
  50% {text-shadow: 0px 0px 40px rgb(147, 74, 255);}
}
    
@keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.6), 0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      13.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 154, 0.6), 0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      14% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      14.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      15% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      15.9% {
        opacity: 1;
        color: rgb(94, 92, 92);
        text-shadow: none;
      }
      16% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      16.1% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      22.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      23% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      24.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      25% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      34.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      35% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      39.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      40% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35);
      }
      42.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35);
      }
      43% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      44.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      45% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      50% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      54.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      55% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.5% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      69.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      70% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.25);
      }
      80% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.8% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: none;
      }
      90% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      99.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: none;
      }
      100% {
        opacity: 1;
      }
}

        
@keyframes text-flick {
    0% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      13.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      14% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      14.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      15% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      22.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      23% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      24.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      25% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      34.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      35% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      39.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      40% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
      }
      42.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
      }
      43% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      44.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      45% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      50% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      54.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      55% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.5% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      69.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      70% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      }
      80% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.8% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.9% {
        opacity: 1;
        color: white;
        text-shadow: none;
      }
      90% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      100% {
        opacity: 1;
      }
    }

@media only screen and (min-device-width: 768px)  {

  #titleBorder {
    margin-top: 1%;
    border: 8px double rgb(0, 255, 251);
    border-radius: 20px;
    width: 600px;
  }

  .bordersInanim {
    border: 8px double rgb(0, 255, 251);
    border-radius: 20px;
    height: 83%;
  }

  .title h1 {
      font-size: 100px;
  }

  #playZone {
    display: inline-flex;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }

  .wins {
    font-size: 60px;
    margin-top: 12%;
  }

  .losses {
    margin-top: 2%;
    font-size: 60px;
  }

  #playerName {
    width: 380px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    border: 4px double rgb(0, 255, 251);
  }

  #nameEnter {
    font-size: 44px;
  }

  #start {
    font-size: 44px;
  }

  #chatScreen {
    display: block;
    width: 50%;
    text-align: center;
    margin-right: 0px;
    margin-left: 1%;
    margin-right: 1%;
  }

  #messageBoard {
    display: block;
    overflow-y: scroll;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: 370px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #messageBoard::-webkit-scrollbar {
    width: 0;
    height: 0;
} 
  
  .commentBox {
    background-color: rgb(48, 47, 47);
    font-size: 20px;
    padding: 5px;
    color: white;
    text-align: left;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    resize: horizontal;
    align-items: center;
  }
  
  .iconTextWrap {
    display: flex;
    margin-bottom: 10px;  
  }
  
  .myIconTextWrap {
    justify-content: flex-end;
  }
  
  .iconBorder {
    text-align: center;
    border-radius: 50%;
    margin-right: 3px;
    padding: 5px;
    width: 40px;
    height: 100%;
    background-color: rgb(48, 47, 47);
  }
  
  .myIconBorder {
    border: 2px solid rgb(229, 247, 31);
    box-shadow: 0px 0px 10px rgb(229, 247, 31);
  }

  .userIcons {
    color:rgb(48, 47, 47);
    -webkit-text-stroke: 2px white;
    font-size: 20px;
    text-align: center;
  }
  
  .botIconBorder {
    border: 2px solid rgb(255, 149, 0);
    box-shadow: 0px 0px 10px rgb(255, 149, 0);
  }
  
  .myComment {
    border: 2px solid rgb(229, 247, 31);
    box-shadow: 0px 0px 10px rgb(229, 247, 31);
  }
  
  .otherComment {
    border: 2px solid rgb(255, 149, 0);
    box-shadow: 0px 0px 10px rgb(255, 149, 0);
  }
  
  #messageSender {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0px;
    margin-left: 1%;
  }
  
  #paperPlane {
    background-color: transparent;
    font-size: 24px;
    float: right;
    margin-right: 3px;
  }
  
  #paperPlane:hover {
    text-shadow: 0px 0px 20px white;
  }
  
  #messageBox {
    background-color: rgb(48, 47, 47);
    width: 95%;
    font-size: 22px;
    color: white;
    margin-left: 0px;
    margin-right: 3px;
    padding: 10px;
    float: left;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 20px;
    height: 36px;
  }
  
  #messageBox::placeholder {
    color: white;
  }
  
  #messageBox:focus::placeholder {
    opacity: 0;
  }

  #yourScreen {
    width: 30%;
  } 

  #opponentScreen {
    margin-top: 0%;
    width: 30%;
    margin-bottom: 0%;
  }

  .names {
    font-size: 90px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .bots {
    font-size: 70px;
  }

  .playerChoice {
    font-size: 90px;
  }

  .playerScreen {
    display: block;
  }

  #robotU {
    margin-right: 0px;
  }
  
  #uBorder {
    width: 100%;
  }
  
  #xBorder {
    width: 100%;
  }

}