@font-face {
  font-family: clubSign;
  src: url("NightVibesFreeVersion-8MglA.otf") format("opentype");
}

body {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  box-sizing: border-box;
  height: 100svh;
}

body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --pink: rgb(253, 4, 154);
  --green: rgb(4, 253, 16);
  --blue: rgb(0, 255, 251);
  --white: rgb(255, 255, 255);
  --purple: rgb(147, 74, 255);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(229, 247, 31);
  --black: rgb(0, 0, 0);

  /* Fonts */
  --header: 100px;
  --title: 90px;
  --subtitle: 60px;
  --body: 45px;
  --info: 22px;
}

/* General styles */
.i {
  color: rgba(0, 0, 0, 0.181);
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.animated-border {
  animation: shadowFade 10s infinite;
  animation-delay: 4s;
}

.animated-letter {
  animation-name: text-flicker-out-glow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Header */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 15px;
  width: 550px;
  border: 8px double var(--blue);
  border-radius: 15px;
}

.title-text {
  color: var(--pink);
  font-family: clubSign;
  text-shadow: 0px 0px 30px var(--pink);
  text-align: center;
  font-size: var(--header);
  display: flex;
}

/* Instruction to play the game */
.instruction-container {
  display: flex;
  position: absolute;
  background: var(--black);
  border: 5px double var(--green);
  box-shadow: 0px 0px 20px var(--green);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 10px;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-radius: 15px;
}

.information-text {
  line-height: 30px;
  display: block;
  color: var(--white);
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.information-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border: 5px double var(--pink);
  box-shadow: 0px 0px 15px var(--pink);
  border-radius: 50%;
  background: none;
  color: var(--white);
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeButton i {
  font-size: 20px;
  color: var(--white);
}

.choice-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Input field for player name */
#player-name-input-container {
  display: flex;
  align-items: center;
  width: 380px;
  padding: 2px 8px 2px 5px;
  border-radius: 10px;
  border: 4px double var(--blue);
  height: 50px;
  margin: 10px;
}

#player-name-input-field {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 0px transparent;
  font-size: var(--body);
  padding: 5px;
  font-weight: bolder;
  font-family: clubSign;
  color: var(--white);
}

#start {
  font-family: clubSign;
  font-size: var(--body);
  color: var(--green);
  font-weight: bolder;
  background-color: transparent;
  padding: 0px;
  border: 0px transparent;
  margin-left: 5px;
  cursor: pointer;
}

#start:hover {
  text-shadow: 5px 5px 40px var(--white);
}

#player-name-input-field::placeholder {
  color: var(--white);
  opacity: 0.8;
}

/* Holds the cards with the player names */
.player-zone-container {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.player-screen-container {
  width: 25%;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-icon {
  font-size: var(--subtitle);
  -webkit-text-stroke: 2px var(--purple);
  text-shadow: 0px 0px 20px var(--purple);
  margin-bottom: 20px;
}

.player-wrapper {
  width: 100%;
  border: 8px double var(--blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.player-name {
  font-family: clubSign;
  font-size: var(--title);
  color: var(--white);
  text-shadow: 0px 0px 30px var(--white);
  padding: 10px 20px;
}

.score-container {
  font-family: clubSign;
  font-size: var(--subtitle);
  display: flex;
  color: var(--white);
  justify-content: center;
  text-shadow: 0px 0px 30px var(--white);
}

.player-choice-icon {
  font-size: var(--title);
  cursor: pointer;
}

#tO {
  animation-delay: 10s;
}

#tS {
  animation-delay: 5s;
}

.paper {
  -webkit-text-stroke: 2px var(--orange);
  text-shadow: 0px 0px 20px var(--orange);
}

.paper:hover {
  text-shadow: 0px 0px 50px var(--orange);
}

.rock {
  -webkit-text-stroke: 2px var(--yellow);
  text-shadow: 0px 0px 20px var(--yellow);
}

.rock:hover {
  text-shadow: 0px 0px 50px var(--yellow);
}

.scissor {
  -webkit-text-stroke: 2px var(--green);
  text-shadow: 0px 0px 20px var(--green);
}

.scissor:hover {
  text-shadow: 0px 0px 50px var(--green);
}

.footer-container {
  padding: 20px 0px;
}

.flicker {
  animation-name: white-text-flick;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

#self-win-counter {
  margin-left: 5px;
}

#opponent-win-counter {
  margin-left: 5px;
}

#self-loss-counter {
  margin-left: 5px;
}

#opponent-loss-counter {
  margin-left: 5px;
}

/* Chat card */
.chat-screen-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#chat-wrapper {
  width: 100%;
  border: 8px double var(--blue);
  border-radius: 15px;
  height: 100%;
  padding: 10px;
}

#message-input-field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
}

#message-input-field {
  width: 100%;
  height: 100%;
  font-size: var(--info);
  color: var(--white);
  margin-right: 3px;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--black);
}

#message-input-field::placeholder {
  color: var(--white);
  opacity: 0.8;
}

#messageBoard {
  display: block;
  overflow-y: scroll;
  position: relative;
  height: 370px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#messageBoard::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.message-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 3px;
  width: 35px;
  height: 35px;
  background-color: var(--black);
}

.self-message-wrapper {
  border: 2px solid var(--purple);
  box-shadow: 0px 0px 10px var(--purple);
}

.opponent-message-wrapper {
  border: 2px solid var(--pink);
  box-shadow: 0px 0px 10px var(--pink);
}

.message-user-icon {
  -webkit-text-stroke: 2px var(--white);
  font-size: 18px;
  text-align: center;
}

.message-text-wrapper {
  background-color: var(--black);
  font-size: var(--info);
  color: var(--white);
  padding: 5px 10px;
  height: 35px;
  width: fit-content;
  border-radius: 20px;
  resize: horizontal;
  display: flex;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.message-row-container {
  display: flex;
  margin-bottom: 10px;
}

.self-message-row-container {
  justify-content: flex-end;
}

#message-plane-icon {
  background-color: transparent;
  font-size: 24px;
  float: right;
  margin-right: 3px;
  cursor: pointer;
}

#message-plane-icon:hover {
  text-shadow: 0px 0px 20px var(--white);
}

.message-input-field-border {
  border: 2px solid var(--blue);
  box-shadow: 0px 0px 10px var(--blue);
}

.flickerPlane {
  color: var(--pink);
  text-shadow: 5px 5px 30px var(--white);
}

.flickerPlane:active {
  color: var(--pink);
  text-shadow: none;
}

.close-instruction-container {
  display: none;
}

.current-player-wrapper {
  animation-name: highlightPulseAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.popup {
  position: absolute;
  background: var(--black);
  border: 5px double var(--green);
  box-shadow: 0px 0px 20px var(--green);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 20px 10px;
  color: var(--white);
  border-radius: 10px;
  font-size: var(--info);
  font-family: "Lucida Console", "Courier New", monospace;
  opacity: 0;
  display: flex;
}

.active {
  opacity: 1;
  display: flex;
}

.inactive {
  opacity: 0;
  display: none;
}

.selected-icon {
  pointer-events: none;
  opacity: 1;
  display: block;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.feedback-icon {
  -webkit-text-stroke: 2px var(--pink);
  text-shadow: 0px 0px 20px var(--pink);
}

@keyframes highlightPulseAnimation {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 30px 12px var(--white);
  }
}

@keyframes shadowFade {
  50% {
    box-shadow: 0px 0px 30px var(--blue);
  }
}

@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.6),
      0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  13.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 154, 0.6),
      0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  14% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  14.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  15% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  15.9% {
    opacity: 1;
    color: rgb(94, 92, 92);
    text-shadow: none;
  }
  16% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  16.1% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  22.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  23% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  24.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  25% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
  }
  34.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
  }
  35% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  39.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  40% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35);
  }
  42.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35);
  }
  43% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  44.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  45% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  50% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  54.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.5% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  69.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  70% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.25);
  }
  80% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.8% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: none;
  }
  90% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  99.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes white-text-flick {
  0% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  14.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  15% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  24.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  25% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  39.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  40% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  44.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  45% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.5% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.8% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: none;
  }
  90% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  100% {
    opacity: 1;
  }
}
