body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

@font-face {
    font-family: clubSign;
    src: url("NightVibesFreeVersion-8MglA.otf") format("opentype");   
}

.icons {
    text-align: center;
    color: rgb(48, 47, 47);
    margin-top: 3%;
}

/* Blue borders for the titles and cards */
.borders {
  border: 8px double rgb(0, 255, 251);
  border-radius: 20px;
  padding-top: 1%;
  display: block;
  animation: shadowFade 10s infinite;
  animation-delay: 4s;
}

/* Titles for the game, player names and wins */
h1 {
    color: rgb(253, 4, 154);
    font-size: 100px;
    font-family: clubSign;
    text-shadow: 0px 0px 30px rgb(253, 4, 154);
    text-align: center;
    margin: 0;
}

/* Input field for player name */
#playerName {
  border: 4px double rgb(0, 255, 251);
  display: flex;
  align-items: center;
  margin-bottom: 1%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 35%;
  margin-right: 35%;
  height: 48px;
  position: relative;
  border-radius: 10px;
  animation-delay: 2s;
}

#nameEnter {
    width: 85%;
    height: 100%;
    margin-top: 2px;
    float: left;
    background-color: transparent;
    border: 0px transparent;
    font-size: 44px;
    padding-left: 10px;
    font-weight: bolder;
    font-family: clubSign;
    color: white;
}

#start {
    font-family: clubSign;
    font-size: 44px;
    width: 17%;
    color: rgb(4, 253, 16);
    font-weight: bolder;
    background-color: transparent;
    padding: 0px;
    border: 0px transparent;
    margin-right: 5px;
    margin-top: 2px;
    margin-right: 10px;
}

#start:hover {
    text-shadow: 5px 5px 40px white;
}

#nameEnter::placeholder {
    color: white;
}

#nameEnter:hover::placeholder,
#nameEnter:focus::placeholder {
    opacity: 0;
}

/* Holds the cards with the player names */
#playZone {
    display: inline-flex;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    min-height: 450px;
    justify-content: center;
}

#chatScreen {
    width: 50%;
    text-align: center;
    margin-right: 0px;
    margin-left: 1%;
    margin-right: 1%;
}

#messageBoard {
  display: block;
  overflow: hidden;
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
}

.commentBox {
	background-color: rgb(48, 47, 47);
  font-size: 20px;
	padding: 5px;
	color: white;
  text-align: left;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  resize: horizontal;
  align-items: center;
}

.iconTextWrap {
  display: flex;
  margin-bottom: 10px;  
}

.myIconTextWrap {
  justify-content: flex-end;
}

.userIcons {
  color:rgb(48, 47, 47);
  -webkit-text-stroke: 2px white;
  font-size: 20px;
  text-align: center;
}

.iconBorder {
  text-align: center;
  border-radius: 50%;
  margin-right: 3px;
  padding: 5px;
  width: 40px;
  height: 100%;
  background-color: rgb(48, 47, 47);
}

.myIconBorder {
  border: 2px solid rgb(229, 247, 31);
  box-shadow: 0px 0px 10px rgb(229, 247, 31);
}

.botIconBorder {
  border: 2px solid rgb(255, 149, 0);
  box-shadow: 0px 0px 10px rgb(255, 149, 0);
}

.myComment {
  border: 2px solid rgb(229, 247, 31);
  box-shadow: 0px 0px 10px rgb(229, 247, 31);
}

.otherComment {
  border: 2px solid rgb(255, 149, 0);
  box-shadow: 0px 0px 10px rgb(255, 149, 0);
}

#messageSender {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 3%;
  margin-right: 0px;
  margin-left: 1%;
}

#paperPlane {
  background-color: transparent;
  font-size: 24px;
  color: rgb(253, 4, 154);
  float: right;
  text-shadow: 0px 0px 10px rgb(253, 4, 154);
  animation-delay: 6s;
}

#paperPlane:hover {
  text-shadow: 0px 0px 20px white;
}

#messageBox {
  background-color: rgb(48, 47, 47);
  width: 95%;
  font-size: 22px;
  color: white;
  margin-left: 0px;
  padding: 10px;
  float: left;
  font-family: "Lucida Console", "Courier New", monospace;
  border-radius: 20px;
  height: 36px;
  border: 2px solid rgb(0, 255, 251);
  box-shadow: 0px 0px 10px rgb(0, 255, 251);
}

#messageBox::placeholder {
  color: white;
}

#messageBox:focus::placeholder {
  opacity: 0;
}

#yourScreen {
  text-align: center;
  /* margin-right: 0px; */
  min-width: 22%;
}

#opponentScreen {
  text-align: center;
  min-width: 22%;
}

#titleBorder {
    padding: 1%;
    border: 8px double rgb(0, 255, 251);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    margin-top: 1%;
    animation: shadowFade 10s infinite;
}

.title {
    text-align: center;
    display: inline-flex;
    margin-right: 10px;

}

.title:last-child {
    margin-right: 0px;
}

.flickerLetter {
    animation-name: text-flicker-out-glow;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#tO {
    animation-delay: 10s;
}
#tS {
    animation-delay: 5s;
}

i {
    background-color: transparent;
    font-size: 70px;
    margin-left: 3%;
    margin-right: 3%;
}

#paper {
    -webkit-text-stroke: 2px rgb(255, 149, 0);
    text-shadow: 0px 0px 20px rgb(255, 149, 0);   
}

#paper:hover {
    text-shadow: 0px 0px 50px rgb(255, 149, 0);
}

#rock {
    -webkit-text-stroke: 2px rgb(229, 247, 31);
    text-shadow: 0px 0px 20px rgb(229, 247, 31);
}

#rock:hover {
    text-shadow: 0px 0px 50px rgb(229, 247, 31);
}

#scissor {
    -webkit-text-stroke: 2px rgb(4, 253, 16);
    text-shadow: 0px 0px 20px rgb(4, 253, 16);
    transform: rotate3d(1, 1, 0, 180deg); 
}

#scissor:hover {
    text-shadow: 0px 0px 50px rgb(4, 253, 16);
}

.names {
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 10%;
}

.wins {
    margin-top: 20%;
    display: inline-flex;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 30px white;
}

.losses {
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-flex;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 30px white;
    animation-delay: 2s;
}

.flicker {
    animation-name: text-flick;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#winCount {
    margin-left: 3%;
}

#lossCount {
    margin-left: 3%;
}

.bots {
    -webkit-text-stroke: 2px rgb(147, 74, 255);
    text-shadow: 0px 0px 20px rgb(147, 74, 255);
    margin-bottom: 20px;
    animation-name: bot-fade;
    animation-duration: 10s;
    animation-iteration-count: 4;    
}

.bots:hover {
  text-shadow: 0px 0px 50px white;
}

#robotM {
  font-size: 65px;
  margin-bottom: 5px;
  animation-iteration-count: infinite; 
}

#robotM:hover {
  text-shadow: 0px 0px 20px rgb(147, 74, 255);
}

#robotX {
  animation-delay: 5s;
}



@keyframes shadowFade {
    50% {box-shadow: 0px 0px 30px rgb(0, 255, 251);}
}

@keyframes bot-fade {
  50% {text-shadow: 0px 0px 40px rgb(147, 74, 255);}
}
    
@keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.6), 0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      13.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 154, 0.6), 0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      14% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      14.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      15% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      15.9% {
        opacity: 1;
        color: rgb(94, 92, 92);
        text-shadow: none;
      }
      16% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      16.1% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      22.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      23% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      24.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      25% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      34.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
      }
      35% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      39.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      40% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35);
      }
      42.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.55), 0 0 60px rgba(253, 4, 153, 0.35);
      }
      43% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      44.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      45% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      50% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      54.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      55% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.5% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      69.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.45), 0 0 60px rgba(253, 4, 153, 0.25);
      }
      70% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: 0 0 30px rgba(253, 4, 153, 0.25);
      }
      80% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.8% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: none;
      }
      90% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      99.9% {
        opacity: 1;
        color: rgb(253, 4, 154);
        text-shadow: none;
      }
      100% {
        opacity: 1;
      }
    }

        
@keyframes text-flick {
    0% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      13.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      14% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      14.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      15% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      22.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      23% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      24.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      25% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      34.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
      }
      35% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      39.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      40% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
      }
      42.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
      }
      43% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      44.9% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      45% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      50% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      54.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      55% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      69.5% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      69.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
      }
      70% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.4% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      79.9% {
        opacity: 1;
        color: white;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
      }
      80% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.8% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      89.9% {
        opacity: 1;
        color: white;
        text-shadow: none;
      }
      90% {
        opacity: 1;
        text-shadow: none;
        color: rgb(94, 92, 92);
      }
      100% {
        opacity: 1;
      }
    }


