@font-face {
  font-family: clubSign;
  src: url("NightVibesFreeVersion-8MglA.otf") format("opentype");
}

body {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  box-sizing: border-box;
  height: 100svh;
}

body *,
body *:before,
body *:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --pink: rgb(253, 4, 154);
  --green: rgb(4, 253, 16);
  --blue: rgb(0, 255, 251);
  --white: rgb(255, 255, 255);
  --grey: rgb(48, 47, 47);
  --purple: rgb(147, 74, 255);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(229, 247, 31);

  /* Fonts */
  --header: 100px;
  --title: 90px;
  --subtitle: 60px;
  --body: 50px;
}

/* General styles */
.i {
  color: rgba(0, 0, 0, 0.181);
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.animated-border {
  animation: shadowFade 10s infinite;
  animation-delay: 4s;
}

.animated-letter {
  animation-name: text-flicker-out-glow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/* Header */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 15px;
  width: 550px;
  border: 8px double var(--blue);
  border-radius: 15px;
}

.title-text {
  color: var(--pink);
  font-family: clubSign;
  text-shadow: 0px 0px 30px var(--pink);
  text-align: center;
  font-size: var(--header);
  display: flex;
}

/* Instruction to play the game */
.instruction-container {
  display: flex;
  position: absolute;
  background: var(--grey);
  border: 5px double var(--green);
  box-shadow: 0px 0px 20px var(--green);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 10px;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-radius: 15px;
}

.information-text {
  line-height: 30px;
  display: block;
  color: var(--white);
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.information-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border: 5px double var(--pink);
  box-shadow: 0px 0px 15px var(--pink);
  border-radius: 50%;
  background: none;
  color: var(--white);
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeButton i {
  font-size: 20px;
  color: var(--white);
}

/* Instruction to play the game */

.choice-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Input field for player name */
#playerName {
  border: 8px double var(--blue);
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  height: 55px;
  position: relative;
  animation-delay: 2s;
  width: 90%;
  padding-bottom: 5px;
}

#nameEnter {
  width: 75%;
  height: 38px;
  float: left;
  background-color: transparent;
  outline: none;
  border: 0px transparent;
  font-size: var(--body);
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: bolder;
  font-family: clubSign;
  color: var(--white);
  margin-left: 5px;
}

#start {
  font-family: clubSign;
  font-size: var(--body);
  width: 25%;
  color: var(--green);
  font-weight: bolder;
  background-color: transparent;
  padding: 0px;
  border: 0px transparent;
  margin-right: 5px;
  margin-top: 2px;
  margin-left: 5px;
}

#start:hover {
  text-shadow: 5px 5px 40px var(--white);
}

#nameEnter::placeholder {
  color: var(--white);
}

/* Holds the cards with the player names */
.player-zone-container {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.player-screen-container {
  width: 25%;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-icon {
  font-size: var(--subtitle);
  -webkit-text-stroke: 2px var(--purple);
  text-shadow: 0px 0px 20px var(--purple);
  margin-bottom: 20px;
}

.player-wrapper {
  width: 100%;
  border: 8px double var(--blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.player-name {
  font-family: clubSign;
  font-size: var(--title);
  color: var(--white);
  text-shadow: 0px 0px 30px var(--white);
  padding: 10px 20px;
}

.score-container {
  font-family: clubSign;
  font-size: var(--subtitle);
  display: flex;
  color: var(--white);
  justify-content: center;
  text-shadow: 0px 0px 30px var(--white);
}

.player-choice-icon {
  font-size: var(--title);
}

#tO {
  animation-delay: 10s;
}

#tS {
  animation-delay: 5s;
}

.paper {
  -webkit-text-stroke: 2px var(--orange);
  text-shadow: 0px 0px 20px var(--orange);
}

.paper:hover {
  text-shadow: 0px 0px 50px var(--orange);
}

.rock {
  -webkit-text-stroke: 2px var(--yellow);
  text-shadow: 0px 0px 20px var(--yellow);
}

.rock:hover {
  text-shadow: 0px 0px 50px var(--yellow);
}

.scissor {
  -webkit-text-stroke: 2px var(--green);
  text-shadow: 0px 0px 20px var(--green);
}

.scissor:hover {
  text-shadow: 0px 0px 50px var(--green);
}

.footer-container {
  padding: 20px 0px;
}

.flicker {
  animation-name: text-flick;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

#self-win-counter {
  margin-left: 5px;
}

#opponent-win-counter {
  margin-left: 5px;
}

#self-loss-counter {
  margin-left: 5px;
}

#opponent-loss-counter {
  margin-left: 5px;
}

/* Chat card */
.chat-screen-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#chat-wrapper {
  width: 100%;
  border: 8px double var(--blue);
  border-radius: 15px;
  height: 100%;
}

@keyframes shadowFade {
  50% {
    box-shadow: 0px 0px 30px var(--blue);
  }
}

@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.6),
      0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  13.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 154, 0.6),
      0 0 60px rgba(253, 4, 153, 0.45), 0 0 110px rgba(253, 4, 153, 0.25),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  14% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  14.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  15% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  15.9% {
    opacity: 1;
    color: rgb(94, 92, 92);
    text-shadow: none;
  }
  16% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  16.1% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  22.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.4), 0 0 110px rgba(253, 4, 153, 0.2),
      0 0 100px rgba(253, 4, 153, 0.1);
  }
  23% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  24.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  25% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
  }
  34.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35), 0 0 100px rgba(253, 4, 153, 0.1);
  }
  35% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  39.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  40% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35);
  }
  42.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.55),
      0 0 60px rgba(253, 4, 153, 0.35);
  }
  43% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  44.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  45% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  50% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  54.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.5% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  69.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.45),
      0 0 60px rgba(253, 4, 153, 0.25);
  }
  70% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: 0 0 30px rgba(253, 4, 153, 0.25);
  }
  80% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.8% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: none;
  }
  90% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  99.9% {
    opacity: 1;
    color: var(--pink);
    text-shadow: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-flick {
  0% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  14.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  15% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  24.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  25% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  39.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  40% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  44.9% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  45% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  69.5% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.4% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  79.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.8% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  89.9% {
    opacity: 1;
    color: var(--white);
    text-shadow: none;
  }
  90% {
    opacity: 1;
    text-shadow: none;
    color: rgb(94, 92, 92);
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 768px) {
  #playerName {
    width: 380px;
    margin: 20px 0px;
    padding: 2px 0px;
    border-radius: 10px;
    border: 4px double var(--blue);
  }

  #messageBoard {
    display: block;
    overflow-y: scroll;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: 370px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #messageBoard::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .commentBox {
    background-color: var(--grey);
    font-size: 20px;
    padding: 5px;
    color: var(--white);
    text-align: left;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    resize: horizontal;
    align-items: center;
  }

  .iconTextWrap {
    display: flex;
    margin-bottom: 10px;
  }

  .myIconTextWrap {
    justify-content: flex-end;
  }

  .iconBorder {
    text-align: center;
    border-radius: 50%;
    margin-right: 3px;
    padding: 5px;
    width: 40px;
    height: 100%;
    background-color: var(--grey);
  }

  .myIconBorder {
    border: 2px solid var(--yellow);
    box-shadow: 0px 0px 10px var(--yellow);
  }

  .userIcons {
    -webkit-text-stroke: 2px var(--white);
    font-size: 20px;
    text-align: center;
  }

  .botIconBorder {
    border: 2px solid var(--orange);
    box-shadow: 0px 0px 10px var(--orange);
  }

  .myComment {
    border: 2px solid var(--yellow);
    box-shadow: 0px 0px 10px var(--yellow);
  }

  .otherComment {
    border: 2px solid var(--orange);
    box-shadow: 0px 0px 10px var(--orange);
  }

  #messageSender {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 0px;
    margin-left: 1%;
  }

  #paperPlane {
    background-color: transparent;
    font-size: 24px;
    float: right;
    margin-right: 3px;
  }

  #paperPlane:hover {
    text-shadow: 0px 0px 20px var(--white);
  }

  #messageBox {
    background-color: var(--grey);
    width: 95%;
    font-size: 22px;
    color: var(--white);
    margin-left: 0px;
    margin-right: 3px;
    padding: 10px;
    float: left;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 20px;
    height: 36px;
  }

  #messageBox::placeholder {
    color: var(--white);
  }
}
